openapi: 3.0.3
info:
    title: IONOS S3 Object Storage API for contract-owned buckets
    version: 2.0.2
    description: >
        ## Overview

        The IONOS S3 Object Storage API for contract-owned buckets is a REST-based API that allows developers and applications to interact directly with

        IONOS' scalable storage solution, leveraging the S3 protocol for object storage operations. Its design ensures seamless

        compatibility with existing tools and libraries tailored for S3 systems.


        ### API References

        - [S3 Management API Reference](https://api.ionos.com/docs/s3-management/v1/) for managing Access Keys

        - S3 API Reference for contract-owned buckets - current document

        - [S3 API Reference for user-owned buckets](https://api.ionos.com/docs/s3-user-owned-buckets/v2/)


        ### User documentation

        [IONOS S3 Object Storage User Guide](https://docs.ionos.com/cloud/managed-services/s3-object-storage)

        * [Documentation on user-owned and contract-owned buckets](https://docs.ionos.com/cloud/managed-services/s3-object-storage/concepts/buckets)

        * [Documentation on S3 API Compatibility](https://docs.ionos.com/cloud/managed-services/s3-object-storage/concepts/s3-api-compatibility)

        * [S3 Tools](https://docs.ionos.com/cloud/managed-services/s3-object-storage/s3-tools)


        ## Endpoints for contract-owned buckets

        | Location | Region Name | Bucket Type | Endpoint |

        | --- | --- | --- | --- |

        | **Berlin, Germany** | **eu-central-3** | Contract-owned | `https://s3.eu-central-3.ionoscloud.com` |


        ## Changelog

        - 30.05.2024 Initial version
    contact:
        name: IONOS Cloud Support
        url: https://docs.ionos.com/support/general-information/contact-information
        email: support@cloud.ionos.com
    x-sdk-patch-level: 1
externalDocs:
    description: IONOS S3 Object Storage User Guide
    url: https://docs.ionos.com/cloud/managed-services/s3-object-storage
servers:
    - url: https://s3.eu-central-3.ionoscloud.com
      description: The endpoint for the `eu-central-3` region (Berlin, Germany)
x-hasEquivalentPaths: true
tags:
    - name: Buckets
      description: Basic Operations with Buckets
    - name: Objects
      description: Basic Operations with Objects
    - name: CORS
      description: Cross Origin Resource Sharing Configuration
    - name: Encryption
      description: Encryption Configuration of a Bucket
    - name: Lifecycle
      description: Lifecycle Configuration of a Bucket
    - name: Object Lock
      description: Object Lock Configuration
    - name: Policy
      description: Permission Policy of a Bucket
    - name: PublicAccessBlock
      description: Blocks public acccess to a Bucket
    - name: Replication
      description: Replication Configuration of a Bucket
    - name: Tagging
      description: Tags for Buckets and Objects
    - name: Uploads
      description: Multipart Uploads into a Bucket
    - name: Versions
      description: Metadata about all Versions of the Objects in a Bucket
    - name: Versioning
      description: Versioning Configuration of a Bucket
    - name: Website
      description: Website Configuration of a Bucket
paths:
    /:
        get:
            tags:
                - Buckets
            summary: ListBuckets
            operationId: ListBuckets
            description: |
                Lists all the buckets of the contract.

                #### Permissions
                This operation is available for all users of the contract.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/ListAllMyBucketsResult"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Owner>
                                                <ID>31000000</ID>
                                                <DisplayName>Some Name</DisplayName>
                                            </Owner>
                                            <Buckets>
                                                <Bucket>
                                                    <Name>my-bucket-1</Name>
                                                    <CreationDate>2024-03-10T16:48:19.364Z</CreationDate>
                                                </Bucket>
                                                <Bucket>
                                                    <Name>my-bucket-2</Name>
                                                    <CreationDate>2024-03-13T16:48:38.181Z</CreationDate>
                                                </Bucket>
                                            </Buckets>
                                        </ListAllMyBucketsResult>
                "403":
                    description: InvalidAccessKeyId
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                InvalidAccessKeyId:
                                    $ref: "#/components/examples/InvalidAccessKeyId"
    "/{Bucket}/{Key}?uploads":
        post:
            tags:
                - Uploads
            summary: CreateMultipartUpload
            operationId: CreateMultipartUpload
            description: <p>This operation initiates a multipart upload and returns an
                upload ID. This upload ID is used to associate all of the parts
                in the specific multipart upload. You specify this upload ID in
                each of your subsequent upload part requests. You also include
                this upload ID in the final request to either complete or abort
                the multipart upload request.</p>
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/CreateMultipartUploadOutput"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <InitiateMultipartUploadResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Bucket>my-bucket</Bucket>
                                            <Key>video.mp4</Key>
                                            <UploadId>M2ZiOTBhODgxNDE2OTM0MDU0NzQwNjQ</UploadId>
                                        </InitiateMultipartUploadResult>
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Key
                  in: path
                  required: true
                  description: Object key for which the multipart upload is to be initiated.
                  schema:
                      type: string
                      minLength: 1
                - name: uploads
                  in: query
                  required: true
                  schema:
                      type: boolean
                      enum:
                          - true
                  allowEmptyValue: true
                - name: Cache-Control
                  in: header
                  required: false
                  description: Specifies caching behavior along the request/reply chain.
                  schema:
                      type: string
                - name: Content-Disposition
                  in: header
                  required: false
                  description: Specifies presentational information for the object.
                  schema:
                      type: string
                - name: Content-Encoding
                  in: header
                  required: false
                  description: Specifies what content encodings have been applied to the object
                      and thus what decoding mechanisms must be applied to
                      obtain the media-type referenced by the Content-Type
                      header field.
                  schema:
                      type: string
                - name: Content-Type
                  in: header
                  required: false
                  description: A standard MIME type describing the format of the object data.
                  schema:
                      type: string
                - name: Expires
                  in: header
                  required: false
                  description: The date and time at which the object is no longer cacheable.
                  schema:
                      type: string
                      format: date-time
                - name: x-amz-server-side-encryption
                  in: header
                  required: false
                  description: The server-side encryption algorithm used when storing this object
                      in IONOS S3 Object Storage (AES256).
                  schema:
                      type: string
                      enum:
                          - AES256
                - name: x-amz-storage-class
                  in: header
                  required: false
                  description: IONOS S3 Object Storage uses the STANDARD Storage Class to store
                      newly created objects. The STANDARD storage class provides
                      high durability and high availability.
                  schema:
                      type: string
                      enum:
                          - STANDARD
                - name: x-amz-website-redirect-location
                  in: header
                  required: false
                  description: If the bucket is configured as a website, redirects requests for
                      this object to another object in the same bucket or to an
                      external URL. IONOS S3 Object Storage stores the value of
                      this header in the object metadata.
                  schema:
                      type: string
                - name: x-amz-server-side-encryption-customer-algorithm
                  in: header
                  required: false
                  description: Specifies the algorithm to use to when encrypting the object
                      (AES256).
                  schema:
                      type: string
                - name: x-amz-server-side-encryption-customer-key
                  in: header
                  required: false
                  description: Specifies the customer-provided encryption key for IONOS S3 Object
                      Storage to use in encrypting data. This value is used to
                      store the object and then it is discarded; IONOS S3 Object
                      Storage does not store the encryption key. The key must be
                      appropriate for use with the algorithm specified in the
                      `x-amz-server-side-encryption-customer-algorithm` header.
                  schema:
                      type: string
                      format: password
                - name: x-amz-server-side-encryption-customer-key-MD5
                  in: header
                  required: false
                  description: Specifies the 128-bit MD5 digest of the encryption key according to
                      RFC 1321. IONOS S3 Object Storage uses this header for a
                      message integrity check to ensure that the encryption key
                      was transmitted without error.
                  schema:
                      type: string
                - name: x-amz-object-lock-mode
                  in: header
                  required: false
                  description: Specifies the Object Lock mode that you want to apply to the
                      uploaded object.
                  schema:
                      type: string
                      enum:
                          - GOVERNANCE
                          - COMPLIANCE
                - name: x-amz-object-lock-retain-until-date
                  in: header
                  required: false
                  description: Specifies the date and time when you want the Object Lock to
                      expire.
                  schema:
                      type: string
                      format: date-time
                - name: x-amz-object-lock-legal-hold
                  in: header
                  required: false
                  description: Specifies whether you want to apply a Legal Hold to the uploaded
                      object.
                  schema:
                      type: string
                      enum:
                          - ON
                          - OFF
                - name: x-amz-meta
                  in: header
                  required: false
                  description: A map of metadata to store with the object in S3.
                  schema:
                      $ref: "#/components/schemas/Metadata"
    "/{Bucket}/{Key}?uploadId":
        post:
            tags:
                - Uploads
            summary: CompleteMultipartUpload
            operationId: CompleteMultipartUpload
            description: "<p>Completes a multipart upload by assembling previously uploaded
                parts.</p>          <p>After successfully uploading all relevant
                parts of an upload, you call this operation to complete the
                upload. When IONOS S3 Object Storage  receives this request,  it
                concatenates all the parts in ascending  order by part number to
                create a new object. The parts  list must be included in the
                Complete Multipart Upload request. You must ensure that the
                parts list is complete. This operation concatenates the parts
                that you provide in the list. For each part in the list, you
                must provide the part number and the `ETag` value, returned
                after that part was uploaded.</p> <p>A Complete Multipart Upload
                request could take several minutes to process.  After IONOS S3
                Object Storage begins processing the request, it sends  an HTTP
                response header indicating a 200 OK response. While processing
                is  in progress, IONOS S3 Object Storage sends white space
                characters  on a regular basis to keep the connection from
                timing out. Because a request  may fail after receiving the
                initial 200 OK response, it is advisable to  check the response
                body to establish whether the request was successful.</p>  <p>
                `CompleteMultipartUpload` has the following special errors:</p>
                <ul> <li> <p>Error code: `EntityTooSmall` </p> <ul> <li>
                <p>Description: Your proposed upload is smaller than the minimum
                allowed object size. Each part must be at least 5 MB in size,
                except the last part.</p> </li> <li> <p>400 Bad Request</p>
                </li> </ul> </li> <li> <p>Error code: `InvalidPart` </p> <ul>
                <li> <p>Description: One or more of the specified parts could
                not be found. The part might not have been uploaded, or the
                specified entity tag might not have matched the part's entity
                tag.</p> </li> <li> <p>400 Bad Request</p> </li> </ul> </li>
                <li> <p>Error code: `InvalidPartOrder` </p> <ul> <li>
                <p>Description: The list of parts was not in ascending order.
                The parts list must be specified in order by part number.</p>
                </li> <li> <p>400 Bad Request</p> </li> </ul> </li> <li>
                <p>Error code: `NoSuchUpload` </p> <ul> <li> <p>Description: The
                specified multipart upload does not exist. The upload ID might
                be invalid, or the multipart upload might have been aborted or
                completed.</p> </li> <li> <p>404 Not Found</p> </li> </ul> </li>
                </ul> "
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/CompleteMultipartUploadOutput"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <CompleteMultipartUploadResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Location>my-bucket/video.mp4</Location>
                                            <Bucket>my-bucket</Bucket>
                                            <Key>video.mp4</Key>
                                            <ETag>&quot;afc02e5be55ba0d2336909c1567dbcf9-3&quot;</ETag>
                                        </CompleteMultipartUploadResult>
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Key
                  in: path
                  required: true
                  description: Object key for which the multipart upload was initiated.
                  schema:
                      type: string
                      minLength: 1
                - name: uploadId
                  in: query
                  required: true
                  description: ID for the initiated multipart upload.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                            title: example
                            type: object
                            properties:
                                CompleteMultipartUpload:
                                    description: The container for the completed multipart upload details.
                                    type: object
                                    properties:
                                        Parts:
                                            $ref: "#/components/schemas/CompletedPartList"
                        examples:
                            Payload:
                                value: >
                                    <CompleteMultipartUpload>
                                        <Part>
                                            <PartNumber>1</PartNumber>
                                            <ETag>"e5f418115de697af0d466b971e24f3ef"</ETag>
                                        </Part>
                                        <Part>
                                            <PartNumber>2</PartNumber>
                                            <ETag>"b14f0bc5827d7168afc8b4c1ef3b7899"</ETag>
                                        </Part>
                                        <Part>
                                            <PartNumber>3</PartNumber>
                                            <ETag>"c597dd54bd9338b1f1814a3813bd731d"</ETag>
                                        </Part>
                                    </CompleteMultipartUpload>
        get:
            tags:
                - Uploads
            summary: ListParts
            operationId: ListParts
            description: <p>Lists the parts that have been uploaded for a specific multipart
                upload. This operation must include the upload ID, which you
                obtain by sending the initiate multipart upload request. This
                request returns a maximum of 1,000 uploaded parts. The default
                number of parts returned is 1,000 parts. You can restrict the
                number of parts returned by specifying the `max-parts` request
                parameter. If your multipart upload consists of more than 1,000
                parts, the response returns an `IsTruncated` field with the
                value of true, and a `NextPartNumberMarker` element. In
                subsequent `ListParts` requests you can include the
                part-number-marker query string parameter and set its value to
                the `NextPartNumberMarker` field value from the previous
                response.</p>
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/ListPartsOutput"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <ListPartsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Bucket>my-bucket</Bucket>
                                            <Key>mytext.txt</Key>
                                            <UploadId>M2Y1YjZhODgwODE2OTM0MTE0NzU3MjM</UploadId>
                                            <Initiator>
                                                <ID>fb201d53c82788a9ed3208e1fe6eea8f</ID>
                                                <DisplayName></DisplayName>
                                            </Initiator>
                                            <Owner>
                                                <ID>fb201d53c82788a9ed3208e1fe6eea8f</ID>
                                                <DisplayName></DisplayName>
                                            </Owner>
                                            <StorageClass>STANDARD</StorageClass>
                                            <PartNumberMarker>0</PartNumberMarker>
                                            <MaxParts>4</MaxParts>
                                            <IsTruncated>false</IsTruncated>
                                            <Part>
                                                <PartNumber>1</PartNumber>
                                                <LastModified>2023-08-30T16:04:35.723Z</LastModified>
                                                <ETag>&quot;e5f418115de697af0d466b971e24f3ef&quot;</ETag>
                                                <Size>37</Size>
                                            </Part>
                                            <Part>
                                                <PartNumber>2</PartNumber>
                                                <LastModified>2023-08-30T16:04:35.723Z</LastModified>
                                                <ETag>&quot;b14f0bc5827d7168afc8b4c1ef3b7899&quot;</ETag>
                                                <Size>81</Size>
                                            </Part>
                                            <Part>
                                                <PartNumber>3</PartNumber>
                                                <LastModified>2023-08-30T16:04:35.723Z</LastModified>
                                                <ETag>&quot;c597dd54bd9338b1f1814a3813bd731d&quot;</ETag>
                                                <Size>33</Size>
                                            </Part>
                                        </ListPartsResult>
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Key
                  in: path
                  required: true
                  description: Object key for which the multipart upload was initiated.
                  schema:
                      type: string
                      minLength: 1
                - name: max-parts
                  in: query
                  required: false
                  description: Sets the maximum number of parts to return.
                  schema:
                      type: integer
                - name: part-number-marker
                  in: query
                  required: false
                  description: Specifies the part after which listing should begin. Only parts
                      with higher part numbers will be listed.
                  schema:
                      type: integer
                - name: uploadId
                  in: query
                  required: true
                  description: Upload ID identifying the multipart upload whose parts are being
                      listed.
                  schema:
                      type: string
                - name: PartNumberMarker
                  in: query
                  schema:
                      type: string
                  description: Pagination token
                  required: false
        put:
            tags:
                - Uploads
            summary: UploadPart
            operationId: UploadPart
            description: "<p>Uploads a part in a multipart upload.</p> <note> <p>In this
                operation, you provide part data in your request. However, you
                have an option to specify your existing IONOS S3 Object Storage
                object as a data source for the part you are uploading. To
                upload a part from an existing object, you use the
                `UploadPartCopy` operation. </p> </note> <p>You must initiate a
                multipart upload (see `CreateMultipartUpload`) before you can
                upload any part. In response to your initiate request, IONOS S3
                Object Storage returns an upload ID, a unique identifier, that
                you must include in your upload part request.</p> <p>Part
                numbers can be any number from 1 to 10,000, inclusive. A part
                number uniquely identifies a part and also defines its position
                within the object being created. If you upload a new part using
                the same part number that was used with a previous part, the
                previously uploaded part is overwritten. Each part must be at
                least 5 MB in size, except the last part. There is no size limit
                on the last part of your multipart upload.</p> <p>To ensure that
                data is not corrupted when traversing the network, specify the
                `Content-MD5` header in the upload part request. IONOS S3 Object
                Storage checks the part data against the provided MD5 value. If
                they do not match, IONOS S3 Object Storage returns an error.
                </p> <p>If the upload request is signed with Signature Version
                4, then IONOS S3 Object Storage S3 uses the
                `x-amz-content-sha256` header as a checksum instead of
                `Content-MD5`. </p> <p> <b>Note:</b> After you initiate
                multipart upload and upload one or more parts, you must either
                complete or abort multipart upload in order to stop getting
                charged for storage of the uploaded parts. Only after you either
                complete or abort multipart upload, IONOS S3 Object Storage
                frees up the parts storage and stops charging you for the parts
                storage.</p> "
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/UploadPartOutput"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Key
                  in: path
                  required: true
                  description: Object key for which the multipart upload was initiated.
                  schema:
                      type: string
                      minLength: 1
                - name: partNumber
                  in: query
                  required: true
                  description: Part number of part being uploaded. This is a positive integer
                      between 1 and 10,000.
                  schema:
                      type: integer
                - name: uploadId
                  in: query
                  required: true
                  description: Upload ID identifying the multipart upload whose part is being
                      uploaded.
                  schema:
                      type: string
                - name: Content-Length
                  in: header
                  required: false
                  description: Size of the body in bytes. This parameter is useful when the size
                      of the body cannot be determined automatically.
                  schema:
                      type: integer
                - name: Content-MD5
                  in: header
                  required: false
                  schema:
                      $ref: "#/components/schemas/Content-MD5"
                - name: x-amz-server-side-encryption-customer-algorithm
                  in: header
                  required: false
                  description: Specifies the algorithm to use to when encrypting the object
                      (AES256).
                  schema:
                      type: string
                      enum:
                          - AES256
                - name: x-amz-server-side-encryption-customer-key
                  in: header
                  required: false
                  description: Specifies the customer-provided encryption key for IONOS S3 Object
                      Storage to use in encrypting data. This value is used to
                      store the object and then it is discarded; IONOS S3 Object
                      Storage does not store the encryption key. The key must be
                      appropriate for use with the algorithm specified in the
                      `x-amz-server-side-encryption-customer-algorithm header`.
                      This must be the same encryption key specified in the
                      initiate multipart upload request.
                  schema:
                      type: string
                      format: password
                - name: x-amz-server-side-encryption-customer-key-MD5
                  in: header
                  required: false
                  description: Specifies the 128-bit MD5 digest of the encryption key according to
                      RFC 1321. IONOS S3 Object Storage uses this header for a
                      message integrity check to ensure that the encryption key
                      was transmitted without error.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                            title: UploadPartRequest
                            type: object
                            properties:
                                Body:
                                    description: Object data.
                                    type: string
        delete:
            tags:
                - Uploads
            summary: AbortMultipartUpload
            operationId: AbortMultipartUpload
            description: <p>This operation aborts a multipart upload. After a multipart
                upload is aborted, no additional parts can be uploaded using
                that upload ID. The storage consumed by any previously uploaded
                parts will be freed. However, if any part uploads are currently
                in progress, those part uploads might or might not succeed. As a
                result, it might be necessary to abort a given multipart upload
                multiple times in order to completely free all storage consumed
                by all parts. </p>
            responses:
                "204":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/AbortMultipartUploadOutput"
                "480":
                    description: NoSuchUpload
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        aplication/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Key
                  in: path
                  required: true
                  description: Key of the object for which the multipart upload was initiated. <p>
                      **Possible values:** length ≥ 1 </p>
                  schema:
                      type: string
                      minLength: 1
                - name: uploadId
                  in: query
                  required: true
                  description: Upload ID that identifies the multipart upload.
                  schema:
                      type: string
    "/{Bucket}?list-type=2":
        get:
            tags:
                - Objects
            summary: ListObjectsV2
            operationId: ListObjectsV2
            description: >
                Retrieves a partial or complete list (with a maximum of 1000
                objects per request) from a specified bucket.

                The request parameters can serve as selection criteria to filter and return a subset of objects from the bucket.


                A `200 OK` response can contain either valid or invalid XML, so it's crucial to construct your application

                in such a way that it can correctly parse and handle the response content. In the resulting list, objects

                are organized in ascending order according to their key names.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:ListBucket` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).
            responses:
                "200":
                    description: Successul operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/ListBucketResultV2"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Name>my-bucket</Name>
                                            <Prefix></Prefix>
                                            <MaxKeys>1000</MaxKeys>
                                            <IsTruncated>false</IsTruncated>
                                            <Contents>
                                                <Key>my-image-1.png</Key>
                                                <LastModified>2024-02-15T16:43:41.459Z</LastModified>
                                                <ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag>
                                                <Size>0</Size>
                                                <StorageClass>STANDARD</StorageClass>
                                                <Type>Normal</Type>
                                            </Contents>
                                            <Contents>
                                                <Key>my-image-2.png</Key>
                                                <LastModified>2024-03-13T15:53:14.199Z</LastModified>
                                                <ETag>&quot;994e15aa13aa642f3d82801c8f57b81b&quot;</ETag>
                                                <Size>2797180</Size>
                                                <StorageClass>STANDARD</StorageClass>
                                                <Type>Normal</Type>
                                            </Contents>
                                            <KeyCount>2</KeyCount>
                                        </ListBucketResult>
                "403":
                    description: AccessDenied or Forbidden
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                                Forbidden:
                                    $ref: "#/components/examples/Forbidden"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: delimiter
                  in: query
                  required: false
                  description: A delimiter is a character you use to group keys.
                  example: /
                  schema:
                      type: string
                - name: encoding-type
                  in: query
                  required: false
                  description: Encoding type used by IONOS S3 Object Storage to encode object keys
                      in the response.
                  schema:
                      type: string
                      enum:
                          - url
                      description: Requests IONOS S3 Object Storage to encode the object keys in the
                          response and specifies the encoding method to use. An
                          object key may contain any Unicode character; however,
                          XML 1.0 parser cannot parse some characters, such as
                          characters with an ASCII value from 0 to 10. For
                          characters that are not supported in XML 1.0, you can
                          add this parameter to request that IONOS S3 Object
                          Storage encode the keys in the response.
                - name: max-keys
                  in: query
                  required: false
                  description: Sets the maximum number of keys returned in the response. By
                      default the operation returns up to 1000 key names. The
                      response might contain fewer keys but will never contain
                      more.
                  schema:
                      type: integer
                      default: 1000
                      minimum: 1
                      maximum: 1000
                - name: prefix
                  in: query
                  required: false
                  description: Limits the response to keys that begin with the specified prefix.
                  schema:
                      type: string
                      minLength: 0
                      maxLength: 1024
                  example: folder/subfolder/
                - name: continuation-token
                  in: query
                  required: false
                  description: ContinuationToken indicates IONOS S3 Object Storage that the list
                      is being continued on this bucket with a token.
                      ContinuationToken is obfuscated and is not a real key.
                  schema:
                      type: string
                - name: fetch-owner
                  in: query
                  required: false
                  description: The owner field is not present in listV2 by default, if you want to
                      return owner field with each key in the result then set
                      the fetch owner field to true.
                  schema:
                      type: boolean
                      enum:
                          - false
                          - true
                      default: false
                - name: start-after
                  in: query
                  required: false
                  description: StartAfter is where you want to start listing from. IONOS S3 Object
                      Storage starts listing after this specified key.
                      StartAfter can be any key in the bucket.
                  schema:
                      type: string
    "/{Bucket}":
        put:
            tags:
                - Buckets
            summary: CreateBucket
            operationId: CreateBucket
            description: >
                Creates a new S3 bucket. 


                To create a bucket, you must register with IONOS S3 Object Storage and have a valid Access Key ID to

                authenticate requests. 


                Not every string is an acceptable bucket name. For information about bucket

                naming restrictions, see [Bucket naming rules](https://docs.ionos.com/cloud/managed-services/s3-object-storage/concepts/buckets#naming-conventions).


                Buckets are created in the location specified in the endpoint used to make the request.

                Once a bucket is created, it can be accessed at that location. Any requests 

                targeting an existing bucket using an endpoint with an incorrect location will result in a `404 NoSuchkey`.


                ### Permissions

                Any user of the contract is allowed to create a bucket. But further operations with the bucket

                must be allowed by [Bucket Policy](#tag/Policy/operation/PutBucketPolicy) which must be set by the contract owner or an administrator.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            examples:
                                OK:
                                    value: ""
                "400":
                    description: InvalidArgument or InvalidLocationConstraint
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                InvalidArgument:
                                    $ref: "#/components/examples/InvalidArgument"
                                InvalidLocationConstraint:
                                    $ref: "#/components/examples/InvalidLocationConstraint"
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "409":
                    description: BucketAlreadyExists
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                BucketAlreadyExists:
                                    $ref: "#/components/examples/BucketAlreadyExists"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: x-amz-bucket-object-lock-enabled
                  in: header
                  required: false
                  description: Specifies whether you want S3 Object Lock enabled for the new
                      bucket. After bucket creation, you must apply the [Object
                      Lock
                      configuration](#tag/Object-Lock/operation/PutObjectLockConfiguration).
                  schema:
                      type: boolean
                      default: false
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/CreateBucketConfiguration"
                        examples:
                            Payload:
                                value: >
                                    <?xml version="1.0" encoding="UTF-8"?>

                                    <CreateBucketConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                      <LocationConstraint>eu-central-3</LocationConstraint>
                                    </CreateBucketConfiguration>
        head:
            tags:
                - Buckets
            summary: HeadBucket
            operationId: HeadBucket
            description: >
                Retrieves metadata and verifies the existence of a specific
                bucket. This operation checks for the presence

                of the specified bucket without returning the actual content of the bucket.


                Bucket names are globally unique across all users of the service. If the bucket exists and the requester

                has permission to access it, the server returns a `200 OK` HTTP status code with no accompanying response body. 

                If the bucket does not exist or if the requester does not have permission to access it, the server returns a relevant error code:

                - `403 Forbidden`: The requester does not have permission to access the bucket.

                - `404 Not Found`: The bucket does not exist.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:ListBucket` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            examples:
                                OK:
                                    value: ""
                "403":
                    description: AccessDenied or Forbidden
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                                Forbidden:
                                    $ref: "#/components/examples/Forbidden"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        delete:
            tags:
                - Buckets
            summary: DeleteBucket
            operationId: DeleteBucket
            description: >
                Deletes the bucket. All objects (including all object versions
                and

                delete markers) in the bucket must be deleted before the bucket itself

                can be deleted.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:DeleteBucket` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "204":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            examples:
                                OK:
                                    value: ""
                "403":
                    description: AccessDenied or Forbidden
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                                Forbidden:
                                    $ref: "#/components/examples/Forbidden"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        get:
            tags:
                - Objects
            summary: ListObjects
            operationId: ListObjects
            description: >
                <p>Returns some or all (up to 1,000) of the objects in a bucket.
                You can

                use the request parameters as selection criteria to return a subset of

                the objects in a bucket. A 200 OK response can contain valid or invalid

                XML. Be sure to design your application to parse the contents of the

                response and handle it appropriately.</p>


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:ListBucket` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/ListObjectsOutput"
                            examples:
                                OK:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Name>my-bucket</Name>
                                            <Prefix></Prefix>
                                            <MaxKeys>1000</MaxKeys>
                                            <IsTruncated>false</IsTruncated>
                                            <Contents>
                                                <Key>my-image-1.png</Key>
                                                <LastModified>2024-02-15T16:43:41.459Z</LastModified>
                                                <ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag>
                                                <Size>0</Size>
                                                <StorageClass>STANDARD</StorageClass>
                                                <Owner>
                                                    <ID>31000000</ID>
                                                    <DisplayName>Some Name</DisplayName>
                                                </Owner>
                                                <Type>Normal</Type>
                                            </Contents>
                                            <Contents>
                                                <Key>my-image-2.png</Key>
                                                <LastModified>2024-03-13T15:53:14.199Z</LastModified>
                                                <ETag>&quot;994e15aa13aa642f3d82801c8f57b81b&quot;</ETag>
                                                <Size>2797180</Size>
                                                <StorageClass>STANDARD</StorageClass>
                                                <Owner>
                                                    <ID>31000000</ID>
                                                    <DisplayName>Some Name</DisplayName>
                                                </Owner>
                                                <Type>Normal</Type>
                                            </Contents>
                                            <Marker></Marker>
                                        </ListBucketResult>
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: delimiter
                  in: query
                  required: false
                  description: A delimiter is a character you use to group keys.
                  schema:
                      type: string
                - name: encoding-type
                  in: query
                  required: false
                  description: ""
                  schema:
                      type: string
                      enum:
                          - url
                      description: Requests IONOS S3 Object Storage to encode the object keys in the
                          response and specifies the encoding method to use. An
                          object key may contain any Unicode character; however,
                          XML 1.0 parser cannot parse some characters, such as
                          characters with an ASCII value from 0 to 10. For
                          characters that are not supported in XML 1.0, you can
                          add this parameter to request that IONOS S3 Object
                          Storage encode the keys in the response.
                - name: marker
                  in: query
                  required: false
                  description: Marker is where you want IONOS S3 Object Storage to start listing
                      from. IONOS S3 Object Storage starts listing after this
                      specified key. Marker can be any key in the bucket.
                  schema:
                      type: string
                - name: max-keys
                  in: query
                  required: false
                  description: "Sets the maximum number of keys returned in the response. By
                      default the operation returns up to 1,000 key names. The
                      response might contain fewer keys but will never contain
                      more. "
                  schema:
                      type: integer
                - name: prefix
                  in: query
                  required: false
                  description: Limits the response to keys that begin with the specified prefix.
                  schema:
                      type: string
                - name: x-amz-request-payer
                  in: header
                  required: false
                  description: Confirms that the requester knows that she or he will be charged
                      for the list objects request. Bucket owners need not
                      specify this parameter in their requests.
                  schema:
                      type: string
                      enum:
                          - requester
                      description: Confirms that the requester knows that they will be charged for the
                          request. Bucket owners need not specify this parameter
                          in their requests.
                - name: MaxKeys
                  in: query
                  schema:
                      type: string
                  description: Pagination limit
                  required: false
                - name: Marker
                  in: query
                  schema:
                      type: string
                  description: Pagination token
                  required: false
        options:
            tags:
                - Objects
            summary: OPTIONSObject
            operationId: OPTIONSObject
            description: <p>This API is used to issue a  preflight request to the IONOS S3
                Object Storage to determine if it can send an  actual request
                with the specific origin, HTTP method, and headers.</p>
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Origin
                  in: header
                  required: true
                  description: <p>Identifies the origin of the cross-origin request to the IONOS
                      S3 Object Storage. </p>
                  schema:
                      type: string
                - name: Access-Control-Request-Method
                  in: header
                  required: true
                  description: " Identifies what HTTP method will be used in the actual request."
                  schema:
                      type: string
                - name: Access-Control-Request-Headers
                  in: header
                  required: false
                  description: <p> A comma-delimited list of HTTP headers that will be sent in the
                      actual request. </p> <p> For example, to put an object
                      with server-side encryption, this preflight request  will
                      determine if it can include the
                      `x-amz-server-side-encryption` header with the request.
                      </p>
                  schema:
                      type: string
    "/{Bucket}?cors":
        get:
            tags:
                - CORS
            summary: GetBucketCors
            operationId: GetBucketCors
            description: >-
                Returns the cors configuration information set for the bucket.

                To use this operation, you must have permission to perform the GetBucketCORS operation. By default, the bucket owner has this permission and can grant it to others.

                #### S3 API Compatibility - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/GetBucketCorsOutput"
                            examples:
                                OK:
                                    value: >
                                        <CORSConfiguration>
                                            <CORSRule>
                                                <AllowedOrigin>https://www.domain.com</AllowedOrigin>
                                                <AllowedMethod>GET</AllowedMethod>
                                                <AllowedHeader>*</AllowedHeader>
                                            </CORSRule>
                                        </CORSConfiguration>
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        put:
            tags:
                - CORS
            summary: PutBucketCors
            operationId: PutBucketCors
            description: <p>Sets the `CORS` configuration for your bucket. If the
                configuration exists, it will be overwritten and
                replaced.</p>          <p>To use this operation, you must be
                allowed to perform the `PutBucketCORS` operation. By default,
                the bucket owner has this permission and can grant it to
                others.</p> <p>You set this configuration on a bucket so that
                the bucket can service cross-origin requests. For example, you
                might want to enable a request whose origin is
                `http://www.example.com` to access your IONOS S3 Object Storage
                bucket at `my.example.bucket.com` by using the browser's
                `XMLHttpRequest` capability.</p> <p>To enable cross-origin
                resource sharing (CORS) on a bucket, you add the `cors`
                subresource to the bucket. The `cors` subresource is an XML
                document in which you configure rules that identify origins and
                the HTTP methods that can be executed on your bucket. The
                document is limited to 64 KB in size. </p> <p>When IONOS S3
                Object Storage receives a cross-origin request (or a pre-flight
                OPTIONS request) against a bucket, it evaluates the `cors`
                configuration on the bucket and uses the first `CORSRule` rule
                that matches the incoming browser request to enable a
                cross-origin request. For a rule to match, the following
                conditions must be met:</p> <ul> <li> <p>The request's `Origin`
                header must match `AllowedOrigin` elements.</p> </li> <li>
                <p>The request method (for example, GET, PUT, HEAD, and so on)
                or the `Access-Control-Request-Method` header in case of a
                pre-flight `OPTIONS` request must be one of the `AllowedMethod`
                elements. </p> </li> <li> <p>Every header specified in the
                `Access-Control-Request-Headers` request header of a pre-flight
                request must match an `AllowedHeader` element. </p> </li> </ul>
            responses:
                "200":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Content-MD5
                  in: header
                  required: false
                  schema:
                      $ref: "#/components/schemas/Content-MD5"
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                          description: Describes the cross-origin access configuration for objects in an
                            IONOS S3 Object Storage bucket.
                          type: object
                          xml:
                            name: CORSConfiguration
                          properties:
                            CORSRules:
                              allOf:
                                - $ref: "#/components/schemas/CORSRules"
                                  description: A set of origins and methods (cross-origin access that you want to
                                    allow). You can add up to
                                    100 rules to the
                                    configuration.

                        examples:
                            Payload:
                                value: >
                                    <CORSConfiguration>
                                        <CORSRule>
                                            <AllowedOrigin>https://www.domain.com</AllowedOrigin>
                                            <AllowedMethod>GET</AllowedMethod>
                                            <AllowedHeader>*</AllowedHeader>
                                        </CORSRule>
                                    </CORSConfiguration>
        delete:
            tags:
                - CORS
            summary: DeleteBucketCors
            operationId: DeleteBucketCors
            description: >-
                <p>Deletes the `CORS` configuration information set for the
                bucket.</p> <p>To use this operation, you must have permission
                to perform the `PutBucketCORS` operation. The bucket owner has
                this permission by default and can grant this permission to
                others. </p>

                #### S3 API Compatibility - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "204":
                    description: Success
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
    "/{Bucket}?encryption":
        get:
            tags:
                - Encryption
            summary: GetBucketEncryption
            operationId: GetBucketEncryption
            description: <p>Returns the default encryption configuration for the
                bucket.</p>         <p>In the current version, only the bucket
                owner is allowed to perform this operation. We currently do not
                support the use of bucket policies to extend bucket encryption
                permissions to users other than the bucket owner.</p> <p>If the
                bucket does not have a default encryption configuration,
                GetBucketEncryption returns `404
                ServerSideEncryptionConfigurationNotFoundError`.</p>
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/ServerSideEncryptionConfiguration"
                            examples:
                                Success:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <ServerSideEncryptionConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                                            <Rule>
                                                <ApplyServerSideEncryptionByDefault>
                                                    <SSEAlgorithm>AES256</SSEAlgorithm>
                                                </ApplyServerSideEncryptionByDefault>
                                            </Rule>
                                        </ServerSideEncryptionConfiguration>
                "404":
                    description: ServerSideEncryptionConfigurationNotFoundError
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                ServerSideEncryptionConfigurationNotFoundError:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <Error>
                                            <Code>ServerSideEncryptionConfigurationNotFoundError</Code>
                                            <Message>The server side encryption configuration was not found</Message>
                                            <RequestId>086e7622-4cb5-1eef-b2ff-3cecef3850f6</RequestId>
                                            <HostId>3c6f41da69154b5391d00eb59fbd4830</HostId>
                                        </Error>
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        put:
            tags:
                - Encryption
            summary: PutBucketEncryption
            operationId: PutBucketEncryption
            description: "<p>Sets the AES256 server-side encryption for a bucket with IONOS
                S3 managed keys (SSE-S3).</p> <p>With server-side encryption, S3
                encrypts a newly uploaded object in the bucket before saving it
                to disk and decrypts it when you download the object. Encryption
                doesn't change the way that you access data as an authorized
                user. It only further protects your data.</p> <p>In the current
                version, only the bucket owner is allowed to perform this
                operation. We do not currently support the use of bucket
                policies to extend bucket encryption permissions to users other
                than the bucket owner.</p> <p>IONOS S3 confirms that your object
                is stored with SSE-S3 encryption by returning the response
                header `x-amz-server-side-encryption` for the <a
                href=\"#tag/Basic-Operations/operation/GetObject\">Object
                Read</a> operation.</p> <p>You can also apply encryption with a
                customer-provided key (SSE-C) to each object at the time of <a
                href=\"/#tag/Basic-Operations/operation/PutObject\">uploading</\
                a>. In this case, SSE-C encryption will override the SSE-S3
                encryption.</p> "
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                          xml:
                            name: ServerSideEncryptionConfiguration
                          description: Specifies the default server-side-encryption configuration. The
                              valid value is AES256.
                          type: object
                          properties:
                              Rules:
                                  allOf:
                                      - $ref: "#/components/schemas/ServerSideEncryptionRules"
                                        xml:
                                            name: Rule
                                        description: Container for information about a particular server-side encryption
                                            configuration rule.
            x-codeSamples:
                - lang: Request body
                  source: >
                      <ServerSideEncryptionConfiguration
                      xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
                        <Rule>
                          <ApplyServerSideEncryptionByDefault>
                              <SSEAlgorithm>AES256</SSEAlgorithm>
                          </ApplyServerSideEncryptionByDefault>
                        </Rule>
                      </ServerSideEncryptionConfiguration>
        delete:
            tags:
                - Encryption
            summary: DeleteBucketEncryption
            operationId: DeleteBucketEncryption
            description: <p>This implementation of the DELETE operation removes default
                encryption from the bucket.</p> <p>In the current version, only
                the bucket owner is allowed to perform this operation. We
                currently do not support the use of bucket policies to extend
                bucket encryption permissions to users other than the bucket
                owner.</p>
            responses:
                "204":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
    "/{Bucket}?policy":
        get:
            tags:
                - Policy
            summary: GetBucketPolicy
            operationId: GetBucketPolicy
            description: >
                Returns the policy of a specified bucket.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:GetBucketPolicy` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).

                **Note:** The bucket owner can always perform this operation, even if the policy explicitly denies access to it.


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BucketPolicy"
                            examples:
                                OK:
                                    value:
                                        Id: Delegate certain actions to another user
                                        Version: 2012-10-17
                                        Statement:
                                            - Sid: Delegate certain actions to another user
                                              Action:
                                                  - s3:ListBucket
                                                  - s3:PutObject
                                                  - s3:GetObject
                                              Effect: Allow
                                              Resource:
                                                  - arn:aws:s3:::my-bucket
                                                  - arn:aws:s3:::my-bucket/*
                                              Condition:
                                                  IpAddress:
                                                      aws:SourceIp:
                                                          - 123.123.123.123/32
                                                          - 199.199.199.199/32
                                              Principal:
                                                  AWS: arn:aws:iam:::user/31000000:9acd8251-2857-410e-b1fd-ca86462bdcec
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        put:
            tags:
                - Policy
            summary: PutBucketPolicy
            operationId: PutBucketPolicy
            description: >
                Applies a bucket policy to a bucket.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:PutBucketPolicy` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).

                **Note:** The bucket owner can always perform this operation, even if the policy explicitly denies access to it.


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.

                - The `x-amz-confirm-remove-self-bucket-access` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            examples:
                                OK:
                                    ? value
                "400":
                    description: InvalidPolicyDocument
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                InvalidPolicyDocument:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <Error>
                                            <Code>InvalidPolicyDocument</Code>
                                            <Message>The content of the form does not meet the conditions specified in the policy document.</Message>
                                            <RequestId>bca18f7d-ffb5-1fff-be72-e8ebd35ac298</RequestId>
                                            <HostId>23698097b20a4f5b901c8cd42c2deee7</HostId>
                                        </Error>
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Content-MD5
                  in: header
                  required: false
                  schema:
                      $ref: "#/components/schemas/Content-MD5"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BucketPolicy"
                        examples:
                            Payload:
                                value:
                                    Id: Delegate certain actions to another user
                                    Version: 2012-10-17
                                    Statement:
                                        - Sid: Delegate certain actions to another user
                                          Action:
                                              - s3:ListBucket
                                              - s3:PutObject
                                              - s3:GetObject
                                          Effect: Allow
                                          Resource:
                                              - arn:aws:s3:::my-bucket
                                              - arn:aws:s3:::my-bucket/*
                                          Condition:
                                              IpAddress:
                                                  aws:SourceIp:
                                                      - 123.123.123.123/32
                                          Principal:
                                              AWS: arn:aws:iam:::user/31000000:9acd8251-2857-410e-b1fd-ca86462bdcec
        delete:
            tags:
                - Policy
            summary: DeleteBucketPolicy
            operationId: DeleteBucketPolicy
            description: >
                Deletes the policy of a specified bucket.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:DeleteBucketPolicy` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).

                **Note:** The bucket owner can always perform this operation, even if the policy explicitly denies access to it.


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "204":
                    description: Successful operation
                    content:
                        application/xml:
                            examples:
                                OK:
                                    ? value
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
    "/{Bucket}?publicAccessBlock":
        get:
            tags:
                - PublicAccessBlock
            summary: GetPublicAccessBlock
            operationId: GetPublicAccessBlock
            description: >
                Retrieves the public access configuration for a bucket.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:GetBucketPublicAccessBlock` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BlockPublicAccessOutput"
                            examples:
                                OK:
                                    value: <?xml version="1.0" encoding="UTF-8"?>
                                        <BlockPublicAccessBlockConfiguration>
                                        <BlockPublicAcls>true</BlockPublicAcls>
                                        <IgnorePublicAcls>true</IgnorePublicAcls>
                                        <BlockPublicPolicy>false</BlockPublicPolicy>
                                        <RestrictPublicBuckets>true</RestrictPublicBuckets>
                                        </BlockPublicAccessBlockConfiguration>
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
        put:
            tags:
                - PublicAccessBlock
            summary: PutPublicAccessBlock
            operationId: PutPublicAccessBlock
            description: >
                Blocks public access to an S3 bucket based on the specified
                parameters. 


                This operation modifies the bucket's settings to either prevent public access entirely

                or impose restrictions based on specific conditions.


                #### Permissions

                You must be the contract owner or an administrator to perform this operation. If not, they can grant you permission

                to perform the `s3:PutBucketPublicAccessBlock` operation using [Bucket Policy](#tag/Policy/operation/PutBucketPolicy).

                **Note:** The bucket owner can always perform this operation, even if the policy explicitly denies access to it.


                #### S3 API Compatibility

                - The `x-amz-expected-bucket-owner` header isn't supported.

                - The `x-amz-confirm-remove-self-bucket-access` header isn't supported.
            responses:
                "200":
                    description: Successful operation
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            examples:
                                OK:
                                    ? value
                "400":
                    description: MalformedXML
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                MalformedXML:
                                    value: >
                                        <?xml version="1.0" encoding="UTF-8"?>

                                        <Error>
                                            <Code>MalformedXML</Code>
                                            <Message></Message>
                                            <BucketName>my-bucket</BucketName>
                                            <RequestId>tx0000073352b73829c684d-00660d8524-66fe89a-eu-central-1</RequestId>
                                            <HostId>66fe89a-eu-central-1-eu-central-1</HostId>
                                        </Error>
                "403":
                    description: AccessDenied
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                AccessDenied:
                                    $ref: "#/components/examples/AccessDenied"
                "404":
                    description: NoSuchBucket
                    headers:
                        x-amz-request-id:
                            $ref: "#/components/headers/x-amz-request-id"
                    content:
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                NoSuchBucket:
                                    $ref: "#/components/examples/NoSuchBucket"
            parameters:
                - name: Bucket
                  in: path
                  required: true
                  schema:
                      $ref: "#/components/schemas/BucketName"
                - name: Content-MD5
                  in: header
                  required: false
                  schema:
                      $ref: "#/components/schemas/Content-MD5"
            requestBody:
                required: true
                content:
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/BlockPublicAccessPayload"
                        examples:
                            Payload:
[...]
