---
subcategory: "Autoscaling"
page_title: "IonosCloud: autoscaling_group"
description: |-
  Creates and manages IonosCloud Autoscaling Group.
---

# ionoscloud_autoscaling_group

Manages an [Autoscaling Group](https://docs.ionos.com/cloud/compute-services/vm-auto-scaling/overview#components-of-vm-auto-scaling) on IonosCloud.

## Example Usage

{{ tffile "examples/resources/ionoscloud_autoscaling_group/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
