openapi: 3.0.3
info:
    title: CLOUD API
    description: >-
        
        IONOS Enterprise-grade Infrastructure as a Service (IaaS) solutions can be managed through the Cloud API, in addition or as an alternative to the "Data Center Designer" (DCD) browser-based tool. 

         Both methods employ consistent concepts and features, deliver similar power and flexibility, and can be used to perform a multitude of management tasks, including adding servers, volumes, configuring networks, and so on.
    version: "6.0"
    x-sdk-patch-level: 6
servers:
    - url: https://api.ionos.com/cloudapi/v6
tags:
    - name: /
    - name: Data centers
    - name: Locations
    - name: Servers
    - name: Images
    - name: Volumes
    - name: Snapshots
    - name: IP blocks
    - name: LANs
    - name: Network interfaces
    - name: Firewall rules
    - name: Security Groups
    - name: Flow Logs
    - name: Load Balancers
    - name: NAT Gateways
    - name: Network Load Balancers
    - name: Application Load Balancers
    - name: Target groups
    - name: Requests
    - name: Contract resources
    - name: User management
    - name: User S3 keys
    - name: Backup units
    - name: Kubernetes
      description: >-
          IONOS' Managed Kubernetes (K8s) consist of two central building
          blocks:


          First, the Kubernetes cluster provides the control plane, although it is not directly visible. 


          Second, the node pools provide the worker nodes. While these are visible in a VDC, as Kubernetes is built on top of the compute engine, i.e., servers, volumes, etc.
    - name: Private Cross-Connects
      description: >-
          Cross Connect allows you to connect virtual data centers (VDC) with
          each other using a private LAN. The VDCs to be connected need to
          belong to the same IONOS Cloud contract and location. You can only use
          private LANs for a Cross Connect connection. A LAN can only be a part
          of one Cross Connect.


          The IP addresses of the NICs used for the Cross Connect connection may not be used in more than one NIC and they need to belong to the same IP range.
    - name: Labels
    - name: Templates
paths:
    /:
        get:
            tags:
                - /
            summary: Get API information
            description: Retrieves the API information such as API version.
            operationId: apiInfoGet
            parameters:
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Info"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /datacenters:
        get:
            tags:
                - Data centers
            summary: List your data centers
            description: List the data centers for your account. Default limit is the first
                100 items; use pagination query parameters for listing more
                items.
            operationId: datacentersGet
            parameters:
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
                - name: offset
                  in: query
                  description: The first element (from the complete list of the elements) to
                      include in the response (used together with
                      <b><i>limit</i></b> for pagination).
                  schema:
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: limit
                  in: query
                  description: The maximum number of elements to return (use together with offset
                      for pagination).
                  schema:
                      maximum: 10000
                      minimum: 1
                      type: integer
                      format: int32
                      default: 1000
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Datacenters"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        post:
            tags:
                - Data centers
            summary: Create a Data Center
            description: >-
                Creates new data centers, and data centers that already contain
                elements, such as servers and storage volumes.


                Virtual data centers are the foundation of the platform; they act as logical containers for all other objects you create, such as servers and storage volumes. You can provision as many data centers as needed. Data centers have their own private networks and are logically segmented from each other to create isolation.
            operationId: datacentersPost
            parameters:
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The data center to create.
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DatacenterPost"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Datacenter"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: datacenter
    "/datacenters/{datacenterId}":
        get:
            tags:
                - Data centers
            summary: Retrieve data centers
            description: Retrieve data centers by resource ID. This value is in the response
                body when the data center is created, and in the list of the
                data centers, returned by GET.
            operationId: datacentersFindById
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Datacenter"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        put:
            tags:
                - Data centers
            summary: Modify a Data Center by ID
            description: Modifies the properties of the specified data center, rename it, or
                change the description.
            operationId: datacentersPut
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The modified data center.
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DatacenterPut"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Datacenter"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: datacenter
        delete:
            tags:
                - Data centers
            summary: Delete data centers
            description: Delete the specified data center and all the elements it contains.
                This method is destructive and should be used carefully.
            operationId: datacentersDelete
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content: {}
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        patch:
            tags:
                - Data centers
            summary: Partially modify a Data Center by ID
            description: Updates the properties of the specified data center, rename it, or
                change the description.
            operationId: datacentersPatch
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The properties of the data center to be updated.
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DatacenterPropertiesPut"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Datacenter"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: datacenter
    /locations:
        get:
            tags:
                - Locations
            summary: Get Locations
            description: >-
                Retrieves the available physical locations where you can deploy
                cloud resources in a VDC. 

                 A location is identified by a combination of the following characters: 

                 * a two-character **regionId**, which represents a country (example: 'de') 

                 * a three-character **locationId**, which represents a city. The 'locationId' is typically based on the IATA code of the city's airport (example: 'txl'). 

                 >Note that 'locations' are read-only and cannot be changed.
            operationId: locationsGet
            parameters:
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Locations"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
    "/locations/{regionId}":
        get:
            tags:
                - Locations
            summary: Get Locations within a Region
            description: Retrieves the available locations in a region specified by its ID.
                The 'regionId' consists of the two character identifier of the
                region (country), e.g., 'de'.
            operationId: locationsFindByRegionId
            parameters:
                - name: regionId
                  in: path
                  description: The unique ID of the region.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Locations"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
    "/locations/{regionId}/{locationId}":
        get:
            tags:
                - Locations
            summary: Get Location by ID
            description: Retrieves the information about the location specified by its ID.
                The 'locationId' consists of the three-digit identifier of the
                city according to the IATA code.
            operationId: locationsFindByRegionIdAndId
            parameters:
                - name: regionId
                  in: path
                  description: The unique ID of the region.
                  required: true
                  schema:
                      type: string
                - name: locationId
                  in: path
                  description: The unique ID of the location.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Location"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
    "/datacenters/{datacenterId}/servers":
        get:
            tags:
                - Servers
            summary: "List servers "
            description: List all servers within the data center.
            operationId: datacentersServersGet
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
                - name: offset
                  in: query
                  description: The first element (from the complete list of the elements) to
                      include in the response (used together with
                      <b><i>limit</i></b> for pagination).
                  schema:
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: limit
                  in: query
                  description: The maximum number of elements to return (use together with offset
                      for pagination).
                  schema:
                      maximum: 10000
                      minimum: 1
                      type: integer
                      format: int32
                      default: 1000
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Servers"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        post:
            tags:
                - Servers
            summary: Create a Server
            description: Creates a server within the specified data center. You can also use
                this request to configure the boot volumes and connect to
                existing LANs at the same time.
            operationId: datacentersServersPost
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The server to create.
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Server"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Server"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: server
    "/datacenters/{datacenterId}/servers/{serverId}":
        get:
            tags:
                - Servers
            summary: Retrieve servers by ID
            description: Retrieve information about the specified server within the data
                center, such as its configuration, provisioning status, and so
                on.
            operationId: datacentersServersFindById
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Server"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        put:
            tags:
                - Servers
            summary: Modify a Server by ID
            description: >-
                Modifies the properties of the specified server within the data
                center.


                Starting with v5, the 'allowReboot' attribute is retired; while previously required for changing certain server properties, this behavior is now implicit, and the backend will perform this automatically. For example, in earlier versions, when the CPU family is changed, 'allowReboot' had to be set to 'true'; this is no longer required, the reboot will be performed automatically.
            operationId: datacentersServersPut
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The modified server
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Server"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Server"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: server
        delete:
            tags:
                - Servers
            summary: Delete servers
            description: Delete the specified server in your data center. The attached
                storage volumes will also be removed if the query parameter is
                set to true otherwise a separate API call must be made for these
                actions.
            operationId: datacentersServersDelete
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
                - name: deleteVolumes
                  in: query
                  description: If true, all attached storage volumes will also be deleted.
                  schema:
                      type: boolean
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content: {}
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        patch:
            tags:
                - Servers
            summary: Partially modify servers
            description: Update the properties of the specified server within the data
                center.
            operationId: datacentersServersPatch
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The properties of the server to be updated.
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ServerProperties"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Server"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: server
    "/datacenters/{datacenterId}/servers/{serverId}/volumes":
        get:
            tags:
                - Servers
            summary: Get Attached Volumes
            description: Lists all volumes attached to the specified server.
            operationId: datacentersServersVolumesGet
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
                - name: offset
                  in: query
                  description: The first element (from the complete list of the elements) to
                      include in the response (used together with
                      <b><i>limit</i></b> for pagination).
                  schema:
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: limit
                  in: query
                  description: The maximum number of elements to return (use together with offset
                      for pagination).
                  schema:
                      maximum: 10000
                      minimum: 1
                      type: integer
                      format: int32
                      default: 1000
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AttachedVolumes"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        post:
            tags:
                - Servers
            summary: Attach a Volume to a Server
            description: >-
                Attachs an existing storage volume to the specified server.


                You can attach an existing volume in the VDC to a server. To move a volume from one server to another, you must first detach the volume from the first server and attach it to the second server.


                It is also possible to create and attach a volume in one step by simply providing a new volume description as a payload. The only difference is the URL; see 'Creating a Volume' for details about volumes.


                Note that the combined total of attached volumes and NICs cannot exceed 24 per server.
            operationId: datacentersServersVolumesPost
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            requestBody:
                description: The volume to be attached (or created and attached).
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Volume"
                required: true
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Volume"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
            x-codegen-request-body-name: volume
    "/datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}":
        get:
            tags:
                - Servers
            summary: Get Attached Volume by ID
            description: Retrieves the properties of the volume attached to the specified
                server.
            operationId: datacentersServersVolumesFindById
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: volumeId
                  in: path
                  description: The unique ID of the volume.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Volume"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        delete:
            tags:
                - Servers
            summary: Detach a Volume by ID
            description: >-
                Detachs the specified volume from the server.


                Note that only the volume's connection to the specified server is disconnected. If you want to delete the volume, you must submit a separate request to perform the deletion.
            operationId: datacentersServersVolumesDelete
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: volumeId
                  in: path
                  description: The unique ID of the volume.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
            responses:
                "202":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                        Location:
                            description: Callback URL to poll async operation status.
                            schema:
                                pattern: https://[apiBaseUri]/requests/[requestId]/status
                                type: string
                    content: {}
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
    "/datacenters/{datacenterId}/servers/{serverId}/cdroms":
        get:
            tags:
                - Servers
            summary: "Get Attached CD-ROMs "
            description: Lists all CD-ROMs attached to the specified server.
            operationId: datacentersServersCdromsGet
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: X-Contract-Number
                  in: header
                  description: Users with multiple contracts must provide the contract number, for
                      which all API requests are to be executed.
                  schema:
                      type: integer
                      format: int32
                - name: offset
                  in: query
                  description: The first element (from the complete list of the elements) to
                      include in the response (used together with
                      <b><i>limit</i></b> for pagination).
                  schema:
                      minimum: 0
                      type: integer
                      format: int32
                      default: 0
                - name: limit
                  in: query
                  description: The maximum number of elements to return (use together with offset
                      for pagination).
                  schema:
                      maximum: 10000
                      minimum: 1
                      type: integer
                      format: int32
                      default: 1000
            responses:
                "200":
                    description: Successful operation
                    headers:
                        X-RateLimit-Remaining:
                            description: The number of requests that can still be made without triggering a
                                failure response.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Limit:
                            description: The average number of requests per minute allowed.
                            schema:
                                type: integer
                                format: int32
                        X-RateLimit-Burst:
                            description: The maximum number of concurrent API requests allowed.
                            schema:
                                type: integer
                                format: int32
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Cdroms"
                default:
                    description: "Any erroneous status code: 400 (parse error), 401 (auth error),
                        402 (trial access), 403 (insufficient privileges), 404
                        (not found), 405 (unsupported HTTP method), 415
                        (unsupported content type, 422 (validation error), 429
                        (request rate limit exceeded), 500 (server error), or
                        503 (maintenance)."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - BasicAuthentication: []
                - TokenAuthentication: []
        post:
            tags:
                - Servers
            summary: Attach a CD-ROM
            description: >-
                Attachs a CD-ROM to an existing server specified by its ID. 


                CD-ROMs cannot be created stand-alone like volumes. They are either attached to a server or do not exist. They always have an ISO-Image associated; empty CD-ROMs can not be provisioned. It is possible to attach up to two CD-ROMs to the same server. 


                Note that attaching a CD-ROM leads to a reset of the server.
            operationId: datacentersServersCdromsPost
            parameters:
                - name: datacenterId
                  in: path
                  description: The unique ID of the data center.
                  required: true
                  schema:
                      type: string
                - name: serverId
                  in: path
                  description: The unique ID of the server.
                  required: true
                  schema:
                      type: string
                - name: pretty
                  in: query
                  description: Controls whether the response is pretty-printed (with indentations
                      and new lines).
                  schema:
                      type: boolean
                      default: true
                - name: depth
                  in: query
                  description: >-
                      Controls the detail depth of the response objects. 

                      GET /datacenters/[ID]
                      	- depth=0: Only direct properties are included; children (servers and other elements) are not included.
                      	- depth=1: Direct properties and children references are included.
                      	- depth=2: Direct properties and children properties are included.
                      	- depth=3: Direct properties and children properties and children's children are included.
                      	- depth=... and so on
                  schema:
                      maximum: 10
[...]
