{
  "swagger": "2.0",
  "info": {
    "description": "IONOS Enterprise-grade Infrastructure as a Service (IaaS) solutions can be managed through the Cloud API, in addition or as an alternative to the \"Data Center Designer\" (DCD) browser-based tool. \n\n Both methods employ consistent concepts and features, deliver similar power and flexibility, and can be used to perform a multitude of management tasks, including adding servers, volumes, configuring networks, and so on.",
    "version": "6.0",
    "title": "CLOUD API",
    "x-sdk-patch-level": 5
  },
  "host": "api.ionos.com",
  "basePath": "/cloudapi/v6",
  "tags": [
    {
      "name": "/"
    },
    {
      "name": "Data centers"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Servers"
    },
    {
      "name": "Images"
    },
    {
      "name": "Volumes"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "IP blocks"
    },
    {
      "name": "LANs"
    },
    {
      "name": "Network interfaces"
    },
    {
      "name": "Firewall rules"
    },
    {
      "name": "Flow Logs"
    },
    {
      "name": "Load Balancers"
    },
    {
      "name": "NAT Gateways"
    },
    {
      "name": "Network Load Balancers"
    },
    {
      "name": "Application Load Balancers"
    },
    {
      "name": "Target groups"
    },
    {
      "name": "Requests"
    },
    {
      "name": "Contract resources"
    },
    {
      "name": "User management"
    },
    {
      "name": "User S3 keys"
    },
    {
      "name": "Backup units"
    },
    {
      "name": "Kubernetes"
    },
    {
      "name": "Private Cross-Connects"
    },
    {
      "name": "Labels"
    },
    {
      "name": "Templates"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "/"
        ],
        "summary": "Display API information",
        "description": "Display API information",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Info"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "operationId": "apiInfoGet"
      }
    },
    "/datacenters": {
      "get": {
        "tags": [
          "Data centers"
        ],
        "summary": "List your data centers",
        "description": "List the data centers for your account. Default limit is the first 100 items; use pagination query parameters for listing more items.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Datacenters"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersGet"
      },
      "post": {
        "tags": [
          "Data centers"
        ],
        "summary": "Create data centers",
        "description": "Create new data centers, and data centers that already contain elements, such as servers and storage volumes.\n\nVirtual data centers are the foundation of the platform; they act as logical containers for all other objects you create, such as servers and storage volumes. You can provision as many data centers as needed. Data centers have their own private networks and are logically segmented from each other to create isolation.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datacenter",
            "description": "The data center to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Datacenter"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Datacenter"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersPost"
      }
    },
    "/datacenters/{datacenterId}": {
      "get": {
        "tags": [
          "Data centers"
        ],
        "summary": "Retrieve data centers",
        "description": "Retrieve data centers by resource ID. This value is in the response body when the data center is created, and in the list of the data centers, returned by GET.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Datacenter"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersFindById"
      },
      "put": {
        "tags": [
          "Data centers"
        ],
        "summary": "Modify data centers",
        "description": "Modify the properties of the specified data center, rename it, or change the description.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "datacenter",
            "description": "The modified data center.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Datacenter"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Datacenter"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersPut"
      },
      "delete": {
        "tags": [
          "Data centers"
        ],
        "summary": "Delete data centers",
        "description": "Delete the specified data center and all the elements it contains. This method is destructive and should be used carefully.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersDelete"
      },
      "patch": {
        "tags": [
          "Data centers"
        ],
        "summary": "Partially modify data centers",
        "description": "Update the properties of the specified data center, rename it, or change the description.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "datacenter",
            "description": "The properties of the data center to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatacenterProperties"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Datacenter"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersPatch"
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List locations",
        "description": "List the available locations for provisioning your virtual data centers.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Locations"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "locationsGet"
      }
    },
    "/locations/{regionId}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List locations within regions",
        "description": "List locations by the region ID.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "The unique ID of the region.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Locations"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "locationsFindByRegionId"
      }
    },
    "/locations/{regionId}/{locationId}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Retrieve specified locations",
        "description": "Retrieve the properties of the specified location",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "The unique ID of the region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "The unique ID of the location.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Location"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "locationsFindByRegionIdAndId"
      }
    },
    "/datacenters/{datacenterId}/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List servers ",
        "description": "List all servers within the data center.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "name": "upgradeNeeded",
            "in": "query",
            "description": "Filter servers that can or that cannot be upgraded.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/contractNumber"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Servers"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersGet"
      },
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Create servers",
        "description": "Create a server within the specified data center. You can also use this request to configure the boot volumes and connect to existing LANs at the same time.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "server",
            "description": "The server to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Retrieve servers by ID",
        "description": "Retrieve information about the specified server within the data center, such as its configuration, provisioning status, and so on.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersFindById"
      },
      "put": {
        "tags": [
          "Servers"
        ],
        "summary": "Modify servers",
        "description": "Modify the properties of the specified server within the data center.\n\nStarting with v5, the 'allowReboot' attribute is retired; while previously required for changing certain server properties, this behavior is now implicit, and the backend will perform this automatically. For example, in earlier versions, when the CPU family is changed, 'allowReboot' had to be set to 'true'; this is no longer required, the reboot will be performed automatically.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "server",
            "description": "The modified server",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersPut"
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "summary": "Delete servers",
        "description": "Delete the specified server in your data center. The attached storage volumes will not be removed — a separate API call must be made for these actions.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersDelete"
      },
      "patch": {
        "tags": [
          "Servers"
        ],
        "summary": "Partially modify servers",
        "description": "Update the properties of the specified server within the data center.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "server",
            "description": "The properties of the server to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerProperties"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Server"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersPatch"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/volumes": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List attached volumes",
        "description": "List all volumes, attached to the specified server.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/AttachedVolumes"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersVolumesGet"
      },
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Attach volumes",
        "description": "Attach an existing storage volume to the specified server.\n\nA volume scan also be created and attached in one step by providing the new volume description as payload.\n\nThe combined total of attached volumes and NICs cannot exceed 24 per server.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "volume",
            "description": "The volume to be attached (or created and attached).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersVolumesPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Retrieve attached volumes",
        "description": "Retrieve the properties of the volume, attached to the specified server.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The unique ID of the volume.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersVolumesFindById"
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "summary": "Detach volumes",
        "description": "Detach the specified volume from the server without deleting it from the data center. A separate request must be made to perform the deletion.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The unique ID of the volume.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersVolumesDelete"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/cdroms": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List attached CD-ROMs ",
        "description": "List all CD-ROMs, attached to the specified server.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Cdroms"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersCdromsGet"
      },
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Attach CD-ROMs",
        "description": "Attach a CD-ROM to an existing server. Up to two CD-ROMs can be attached to the same server. ",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "cdrom",
            "description": "The CD-ROM to be attached.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersCdromsPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Retrieve attached CD-ROMs",
        "description": "Retrieve the properties of the CD-ROM, attached to the specified server.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cdromId",
            "in": "path",
            "description": "The unique ID of the CD-ROM.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersCdromsFindById"
      },
      "delete": {
        "tags": [
          "Servers"
        ],
        "summary": "Detach CD-ROMs",
        "description": "Detach the specified CD-ROM from the server.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cdromId",
            "in": "path",
            "description": "The unique ID of the CD-ROM.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersCdromsDelete"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/reboot": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Reboot servers",
        "description": "Force a hard reboot of the specified server within the data center. Don't use this method if you wish to reboot gracefully. This is an equivalent of powering down a computer and turning it back on.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersRebootPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/start": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Start servers",
        "description": "Start the specified server within the data center; if the server's public IP address has been deallocated, a new IP address will be assigned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersStartPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/stop": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Stop VMs",
        "description": "Stop the specified server within the data center: the VM will be forcefully shut down, the billing will cease, and any allocated public IPs will be deallocated.\n\nThis operation is not supported for the Cubes.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersStopPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/suspend": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Suspend Cubes instances",
        "description": "Suspend the specified Cubes instance within the data center. The instance will not be deleted, and allocated resources will continue to be billed.\n\nThis operation is only supported for the Cubes.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersSuspendPost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/resume": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Resume Cubes instances",
        "description": "Resume a suspended Cube instance; no billing event will be generated.\n\nThis operation is only supported for the Cubes.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersResumePost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/upgrade": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Upgrade servers",
        "description": "Upgrade the server version, if needed. To determine if an upgrade is available, execute  the following call:\n\n'/datacenters/{datacenterId}/servers?upgradeNeeded=true'",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersUpgradePost"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/token": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Get JASON Web Token",
        "description": "Retrieve a JSON Web Token from the server for use in login operations (such as accessing the server's console).",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Token"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersTokenGet"
      }
    },
    "/datacenters/{datacenterId}/servers/{serverId}/remoteconsole": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Get Remote Console link",
        "description": "Retrieve a link with a JSON Web Token for accessing the server's Remote Console.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverId",
            "in": "path",
            "description": "The unique ID of the server.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/RemoteConsoleUrl"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersServersRemoteConsoleGet"
      }
    },
    "/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "List images",
        "description": "List all the images within the data center.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Images"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "imagesGet"
      }
    },
    "/images/{imageId}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Retrieve images",
        "description": "Retrieve the properties of the specified image.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "imagesFindById"
      },
      "put": {
        "tags": [
          "Images"
        ],
        "summary": "Modify images",
        "description": "Modify the properties of the specified image.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "image",
            "description": "The modified image",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "imagesPut"
      },
      "delete": {
        "tags": [
          "Images"
        ],
        "summary": "Delete images",
        "description": "Delete the specified image; this operation is only supported for private images.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "imagesDelete"
      },
      "patch": {
        "tags": [
          "Images"
        ],
        "summary": "Partially modify images",
        "description": "Update the properties of the specified image.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "image",
            "description": "The image properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageProperties"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "imagesPatch"
      }
    },
    "/datacenters/{datacenterId}/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List volumes",
        "description": "List all the volumes within the data center.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volumes"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersVolumesGet"
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create volumes",
        "description": "Create a storage volume within the specified data center. The volume will not be attached! Attaching volumes is described in the Servers section.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "volume",
            "description": "The volume to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersVolumesPost"
      }
    },
    "/datacenters/{datacenterId}/volumes/{volumeId}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Retrieve volumes",
        "description": "Retrieve the properties of the specified volume within the data center.",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The unique ID of the volume.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersVolumesFindById"
      },
      "put": {
        "tags": [
          "Volumes"
        ],
        "summary": "Modify volumes",
        "description": "Modify the properties of the specified volume within the data center.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The unique ID of the volume.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "volume",
            "description": "The modified volume",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Volume"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
                "type": "integer",
                "format": "int32",
                "description": "The maximum number of concurrent API requests allowed."
              },
              "X-RateLimit-Limit": {
                "type": "integer",
                "format": "int32",
                "description": "The average number of requests per minute allowed."
              },
              "X-RateLimit-Remaining": {
                "type": "integer",
                "format": "int32",
                "description": "The number of requests that can still be made without triggering a failure response."
              }
            }
          },
          "default": {
            "$ref": "#/responses/apiError"
          }
        },
        "security": [
          {
            "Basic Authentication": []
          },
          {
            "Token Authentication": []
          }
        ],
        "operationId": "datacentersVolumesPut"
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Delete volumes",
        "description": "Delete the specified volume within the data center. Use with caution, the volume will be permanently removed!",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datacenterId",
            "in": "path",
            "description": "The unique ID of the data center.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The unique ID of the volume.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/pretty"
          },
          {
            "$ref": "#/parameters/depth"
          },
          {
            "$ref": "#/parameters/contractNumber"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {
              "Location": {
                "type": "string",
                "description": "Callback URL to poll async operation status.",
                "pattern": "https://[apiBaseUri]/requests/[requestId]/status"
              },
              "X-RateLimit-Burst": {
[...]
