#This workflow will run every night, running terraform compute tests
name: Nighly compute test run
on:
  schedule:
    - cron: '05 12 * * MON-FRI'
#    - cron: '0 0 12 ? * MON-FRI'
# At 21:00:00pm, every day between Monday and Friday, every month
#   - cron: '0 0 21 ? * MON-FRI *'

  workflow_dispatch:

jobs:
  test:
    env:
      IONOS_USERNAME: ${{ secrets.IONOS_VDC_USER_GO_V6 }}
      IONOS_PASSWORD: ${{ secrets.IONOS_VDC_PASSWORD_GO_V6 }}
      TF_ACC: true
      TF_LOG: debug
    strategy:
      matrix:
        go-version: [^1.17]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run tests with compute tag
        run: go test ./ionoscloud -v -failfast -timeout 240m -tags compute
