name: Run tests
on:
  workflow_dispatch:
    inputs:
      test-tags:
        description: "test tags, in the form of a list without spaces: 'all,compute,server,firewall,k8s,dbaas,natgateway,nlb,waiting_for_vdc' "
        required: false
        type: string
        default: compute
jobs:
  test:
    env:
      IONOS_USERNAME: ${{ secrets.IONOS_VDC_USER_GO_V6 }}
      IONOS_PASSWORD: ${{ secrets.IONOS_VDC_PASSWORD_GO_V6 }}
      TF_ACC: true
    strategy:
      matrix:
        go-version: [^1.17]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
        with:
#          ref: release/v6.0.x
           ref:  feat/add_tests_to_workflow
      - name: Print test-tags
        run: echo ${{ github.event.inputs.test-tags }}
      - name: Run tests with tags
        if: ${{ github.event.inputs.test-tags != '' }}
        run: go test ./ionoscloud -v -failfast -timeout 240m -tags ${{ github.event.inputs.test-tags }}
      - name: Run tests without tags
        if: ${{ github.event.inputs.test-tags == ''}}
        run: go test ./ionoscloud -v -failfast -timeout 180m
